<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <img width="300" alt="Magic TG Logo" src="./assets/MagicTG.png">
</div>
<div style="text-align:center">
  <h1>
    Magic Deck Builder
  </h1>
</div>
<div>
  
</div>
<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <ul class="list-group">
        <app-card-list (selectedCard) = "addCardToDeck($event)"></app-card-list>
      </ul>
      <input type="text" id="new-component">
      <button (click)= "createDeck('new-component')" >Create new</button>
      <app-deck *ngIf = "isDeckCreated() == true"
                [deckName] = deck.deckName
                [deckList] = "deck.deckList"></app-deck>
    </div>
    <input type="file" id = "DeckFileLoaded"/>​
    <button (click) = "loadSelectedDeck('DeckFileLoaded')">Load selected deck</button>
  </div>
</div>

